.answers-wrapper {
    width: 100%;
    color: #fff;
}
.answers-wrapper ul{
    margin: 0;
    padding: 0;
    display: block;
}

.answers-wrapper li {
    line-height: 1;
    display: block;
    background: #fff;
    padding: 7px 10px; 
    text-align: center;
    margin: 10px auto;
    font-size: 18px;
    max-width: 80%;
    color: #333;
    box-shadow: 0 0 0 3px rgba(0,0,0,0.25);
    border-radius: 50px;
}

.correct.answers-wrapper li {
    box-shadow: 0 0 0 3px rgba(0,255,0,0.5);
}

.wrong.answers-wrapper li {
    box-shadow: 0 0 0 3px rgba(255,0,0,0.5);
}