.create-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.panel {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -130%);
}

.uppercase {
  text-transform: uppercase;
}

.create-background {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
}

.create-item {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -30%);
}
