.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.viewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}
.justifySpaceAround {
  justify-content: space-around;
}
.justifyCenter {
  justify-content: space-around;
}

.start-button {
  background-color: #8e44ad;
  width: 10rem;
  height: auto;
  font-size: 2.5rem;
  line-height: 1;
  height: 12px;
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  border-radius: 5rem;
  border: 2px solid #fff;
}
